/***************************************************************************************************
* Template Blank
* SITE CSS
* Created at 2018
* By nks.trampnn@gmail.com
***************************************************************************************************/
@font-face {
  font-family: 'hpbdFont';
  src: url(../font/chinesefontdesign.com_2017-02-20_08-43-14/Valentine%27s%20day%20exclusive%20Typeface%20Chinese%20Font%20-Simplified%20Chinese%20Fonts.ttf);
}

@font-face {
  font-family: 'letterFont';
  src: url(../font/chinesefontdesign.com-2017-12-15_07-40-21_788452/Good%20Night%20Retro%20Chinese%20Font-Simplified%20Chinese.ttf);
}

/* */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #fff;
  font-size: 14px;
}

a {
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a:hover, a:focus, a:active, a.active {
  color: #6c757d;
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* page-loader */
.page-loader {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: -o-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: fixed;
  z-index: 9;
}

.page-loader > .unit {
  text-align: center;
}

.page-loader .heart {
  position: relative;
  width: 130px;
}

.page-loader .heart > [class*="heart-piece-"] {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.page-loader .heart .heart-piece-4 {
  -webkit-animation: piece-4 3.2s infinite;
  animation: piece-4 3.2s infinite;
}

.page-loader .heart .heart-piece-3,
.page-loader .heart .heart-piece-5 {
  -webkit-animation: piece-3 3.2s infinite;
  animation: piece-3 3.2s infinite;
}

.page-loader .heart .heart-piece-2,
.page-loader .heart .heart-piece-6 {
  -webkit-animation: piece-2 3.2s infinite;
  animation: piece-2 3.2s infinite;
}

.page-loader .heart .heart-piece-1,
.page-loader .heart .heart-piece-7 {
  -webkit-animation: piece-1 3.2s infinite;
  animation: piece-1 3.2s infinite;
}

.page-loader .heart .heart-piece-0,
.page-loader .heart .heart-piece-8 {
  -webkit-animation: piece-0 3.2s infinite;
  animation: piece-0 3.2s infinite;
}

.page-loader .heart .heart-piece-0 {
  left: 0;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.page-loader .heart .heart-piece-1 {
  left: 15px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.page-loader .heart .heart-piece-2 {
  left: 30px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.page-loader .heart .heart-piece-3 {
  left: 45px;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.page-loader .heart .heart-piece-4 {
  left: 60px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.page-loader .heart .heart-piece-5 {
  left: 75px;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.page-loader .heart .heart-piece-6 {
  left: 90px;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.page-loader .heart .heart-piece-7 {
  left: 105px;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

.page-loader .heart .heart-piece-8 {
  left: 120px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes piece-4 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 94px;
    top: -23px;
  }
}

@keyframes piece-4 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 94px;
    top: -23px;
  }
}

@-webkit-keyframes piece-3 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 90px;
    top: -31px;
  }
}

@keyframes piece-3 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 90px;
    top: -31px;
  }
}

@-webkit-keyframes piece-2 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 80px;
    top: -37px;
  }
}

@keyframes piece-2 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 80px;
    top: -37px;
  }
}

@-webkit-keyframes piece-1 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 60px;
    top: -31px;
  }
}

@keyframes piece-1 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 60px;
    top: -31px;
  }
}

@-webkit-keyframes piece-0 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 30px;
    top: -15px;
  }
}

@keyframes piece-0 {
  0%, 10%, 90%, 100% {
    height: 10px;
    top: -5px;
  }
  45%, 55% {
    height: 30px;
    top: -15px;
  }
}

/* section */
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section > .container,
.section > .container > .row {
  height: 100%;
}

/* section-intro */
.section-intro {
  background-color: #ffeeee;
}

.section-intro > figure.balloons,
.section-intro > figure.light {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.section-intro > figure.light > img {
  width: 100%;
  height: 100%;
}

.section-intro > figure.balloons > img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-intro p.hpbd-text {
  width: 100%;
  -webkit-animation-name: fadeIn, tada, fadeOut;
  animation-name: fadeIn, tada, fadeOut;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms, 2s, 500ms;
  animation-duration: 500ms, 2s, 500ms;
  -webkit-animation-delay: 17s, 18s, 22s;
  animation-delay: 17s, 18s, 22s;
  font: bold 48px 'hpbdFont';
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff, 5px 5px 0px rgba(255, 0, 0, 0.1);
  color: #f45776;
  opacity: 0;
  position: absolute;
}

.section-intro .promo-gift-wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation-name: fadeIn, shake;
  animation-name: fadeIn, shake;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms, 1s;
  animation-duration: 500ms, 1s;
  -webkit-animation-delay: 22.5s, 23s;
  animation-delay: 22.5s, 23s;
  opacity: 0;
  cursor: pointer;
}

.section-intro .promo-gift-wrapper .promo-gift {
  width: 192px;
  height: 128px;
  position: relative;
  -webkit-animation-name: promo-gift-wiggle;
  animation-name: promo-gift-wiggle;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.section-intro .promo-gift-wrapper .promo-gift img,
.section-intro .promo-gift-wrapper .promo-gift div {
  position: absolute;
}

.section-intro .promo-gift-wrapper .promo-gift img {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.section-intro .promo-gift-wrapper .promo-gift-top {
  width: 192px;
  bottom: 120px;
  left: -4px;
  -webkit-animation-name: promo-gift-top-wiggle;
  animation-name: promo-gift-top-wiggle;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.section-intro .promo-gift-wrapper .promo-gift-lid {
  bottom: 0;
  left: 0;
}

.section-intro .promo-gift-wrapper .promo-gift-ribbon {
  bottom: 12px;
  left: 96px;
  -webkit-transform-origin: 50% 100% !important;
  -ms-transform-origin: 50% 100% !important;
  transform-origin: 50% 100% !important;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.section-intro .promo-gift-wrapper .promo-gift-ribbon.ribbon-1 {
  -webkit-animation-name: promo-gift-ribbon-1-wiggle;
  animation-name: promo-gift-ribbon-1-wiggle;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.section-intro .promo-gift-wrapper .promo-gift-ribbon.ribbon-2 {
  -webkit-animation-name: promo-gift-ribbon-2-wiggle;
  animation-name: promo-gift-ribbon-2-wiggle;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes promo-gift-top-wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  14% {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  64% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes promo-gift-top-wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  14% {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  64% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes promo-gift-wiggle {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  8% {
    -webkit-transform: rotate(2deg) scaleX(0.99);
    transform: rotate(2deg) scaleX(0.99);
  }
  12% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
  }
  16% {
    -webkit-transform: rotate(1deg) scaleX(1);
    transform: rotate(1deg) scaleX(1);
  }
  20% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  58% {
    -webkit-transform: rotate(-2deg) scaleX(0.99);
    transform: rotate(-2deg) scaleX(0.99);
  }
  62% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
  }
  66% {
    -webkit-transform: rotate(-1deg) scaleX(1);
    transform: rotate(-1deg) scaleX(1);
  }
  70% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@keyframes promo-gift-wiggle {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  8% {
    -webkit-transform: rotate(2deg) scaleX(0.99);
    transform: rotate(2deg) scaleX(0.99);
  }
  12% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
  }
  16% {
    -webkit-transform: rotate(1deg) scaleX(1);
    transform: rotate(1deg) scaleX(1);
  }
  20% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  58% {
    -webkit-transform: rotate(-2deg) scaleX(0.99);
    transform: rotate(-2deg) scaleX(0.99);
  }
  62% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
  }
  66% {
    -webkit-transform: rotate(-1deg) scaleX(1);
    transform: rotate(-1deg) scaleX(1);
  }
  70% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1);
    transform: rotate(0deg) scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@-webkit-keyframes promo-gift-ribbon-1-wiggle {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  6% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  22% {
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  38% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  44% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes promo-gift-ribbon-1-wiggle {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  6% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  22% {
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  38% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  44% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes promo-gift-ribbon-2-wiggle {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  6% {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  22% {
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  38% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  44% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes promo-gift-ribbon-2-wiggle {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  6% {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  22% {
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  38% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  44% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes promo-gift-floating {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes promo-gift-floating {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@-webkit-keyframes promo-gift-top-floating {
  0% {
    -webkit-transform: rotate(-3deg) translateY(-10px);
    transform: rotate(-3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(3deg) translateY(-10px);
    transform: rotate(3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: rotate(-3deg) translateY(-10px);
    transform: rotate(-3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes promo-gift-top-floating {
  0% {
    -webkit-transform: rotate(-3deg) translateY(-10px);
    transform: rotate(-3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: rotate(3deg) translateY(-10px);
    transform: rotate(3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: rotate(-3deg) translateY(-10px);
    transform: rotate(-3deg) translateY(-10px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@-webkit-keyframes promo-gift-mini-rotate {
  100% {
    background-position: -504px;
  }
}

@keyframes promo-gift-mini-rotate {
  100% {
    background-position: -504px;
  }
}

bokeh {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  -webkit-animation-name: explosion;
  animation-name: explosion;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  -webkit-animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
}

bokeh:nth-child(1) {
  background-color: #feff28;
  -webkit-transform: translate(61.49529vw, 68.35632vh);
  -ms-transform: translate(61.49529vw, 68.35632vh);
  transform: translate(61.49529vw, 68.35632vh);
  -webkit-animation-duration: 3.22024s;
  animation-duration: 3.22024s;
  -webkit-animation-delay: -4.51627s;
  animation-delay: -4.51627s;
}

bokeh:nth-child(2) {
  background-color: #feff28;
  -webkit-transform: translate(60.91501vw, 25.44398vh);
  -ms-transform: translate(60.91501vw, 25.44398vh);
  transform: translate(60.91501vw, 25.44398vh);
  -webkit-animation-duration: 2.08354s;
  animation-duration: 2.08354s;
  -webkit-animation-delay: -2.19188s;
  animation-delay: -2.19188s;
}

bokeh:nth-child(3) {
  background-color: #2bd8ff;
  -webkit-transform: translate(43.33403vw, 11.12024vh);
  -ms-transform: translate(43.33403vw, 11.12024vh);
  transform: translate(43.33403vw, 11.12024vh);
  -webkit-animation-duration: 4.39929s;
  animation-duration: 4.39929s;
  -webkit-animation-delay: -3.5719s;
  animation-delay: -3.5719s;
}

bokeh:nth-child(4) {
  background-color: #2bd8ff;
  -webkit-transform: translate(33.36357vw, 30.66617vh);
  -ms-transform: translate(33.36357vw, 30.66617vh);
  transform: translate(33.36357vw, 30.66617vh);
  -webkit-animation-duration: 3.25629s;
  animation-duration: 3.25629s;
  -webkit-animation-delay: -0.79541s;
  animation-delay: -0.79541s;
}

bokeh:nth-child(5) {
  background-color: #fc85e1;
  -webkit-transform: translate(72.22534vw, 32.73993vh);
  -ms-transform: translate(72.22534vw, 32.73993vh);
  transform: translate(72.22534vw, 32.73993vh);
  -webkit-animation-duration: 2.56993s;
  animation-duration: 2.56993s;
  -webkit-animation-delay: -2.28727s;
  animation-delay: -2.28727s;
}

bokeh:nth-child(6) {
  background-color: #ef8d22;
  -webkit-transform: translate(79.50192vw, 32.5996vh);
  -ms-transform: translate(79.50192vw, 32.5996vh);
  transform: translate(79.50192vw, 32.5996vh);
  -webkit-animation-duration: 2.93537s;
  animation-duration: 2.93537s;
  -webkit-animation-delay: -3.43161s;
  animation-delay: -3.43161s;
}

bokeh:nth-child(7) {
  background-color: #2bd8ff;
  -webkit-transform: translate(54.42306vw, 19.39196vh);
  -ms-transform: translate(54.42306vw, 19.39196vh);
  transform: translate(54.42306vw, 19.39196vh);
  -webkit-animation-duration: 2.21298s;
  animation-duration: 2.21298s;
  -webkit-animation-delay: -3.77575s;
  animation-delay: -3.77575s;
}

bokeh:nth-child(8) {
  background-color: #feff28;
  -webkit-transform: translate(76.37887vw, 6.18688vh);
  -ms-transform: translate(76.37887vw, 6.18688vh);
  transform: translate(76.37887vw, 6.18688vh);
  -webkit-animation-duration: 4.06007s;
  animation-duration: 4.06007s;
  -webkit-animation-delay: -3.06702s;
  animation-delay: -3.06702s;
}

bokeh:nth-child(9) {
  background-color: #ef8d22;
  -webkit-transform: translate(6.22323vw, 69.06351vh);
  -ms-transform: translate(6.22323vw, 69.06351vh);
  transform: translate(6.22323vw, 69.06351vh);
  -webkit-animation-duration: 4.33485s;
  animation-duration: 4.33485s;
  -webkit-animation-delay: -4.78329s;
  animation-delay: -4.78329s;
}

bokeh:nth-child(10) {
  background-color: #fc85e1;
  -webkit-transform: translate(97.72292vw, 6.80063vh);
  -ms-transform: translate(97.72292vw, 6.80063vh);
  transform: translate(97.72292vw, 6.80063vh);
  -webkit-animation-duration: 4.83963s;
  animation-duration: 4.83963s;
  -webkit-animation-delay: -0.31162s;
  animation-delay: -0.31162s;
}

bokeh:nth-child(11) {
  background-color: #fc85e1;
  -webkit-transform: translate(49.24725vw, 62.12819vh);
  -ms-transform: translate(49.24725vw, 62.12819vh);
  transform: translate(49.24725vw, 62.12819vh);
  -webkit-animation-duration: 4.62468s;
  animation-duration: 4.62468s;
  -webkit-animation-delay: -2.18936s;
  animation-delay: -2.18936s;
}

bokeh:nth-child(12) {
  background-color: #ef8d22;
  -webkit-transform: translate(75.93189vw, 83.09628vh);
  -ms-transform: translate(75.93189vw, 83.09628vh);
  transform: translate(75.93189vw, 83.09628vh);
  -webkit-animation-duration: 2.67035s;
  animation-duration: 2.67035s;
  -webkit-animation-delay: -4.66289s;
  animation-delay: -4.66289s;
}

bokeh:nth-child(13) {
  background-color: #feff28;
  -webkit-transform: translate(27.93637vw, 92.14094vh);
  -ms-transform: translate(27.93637vw, 92.14094vh);
  transform: translate(27.93637vw, 92.14094vh);
  -webkit-animation-duration: 4.27037s;
  animation-duration: 4.27037s;
  -webkit-animation-delay: -2.96959s;
  animation-delay: -2.96959s;
}

bokeh:nth-child(14) {
  background-color: #feff28;
  -webkit-transform: translate(3.28986vw, 27.22515vh);
  -ms-transform: translate(3.28986vw, 27.22515vh);
  transform: translate(3.28986vw, 27.22515vh);
  -webkit-animation-duration: 3.08875s;
  animation-duration: 3.08875s;
  -webkit-animation-delay: -3.49125s;
  animation-delay: -3.49125s;
}

bokeh:nth-child(15) {
  background-color: #2bd8ff;
  -webkit-transform: translate(39.06741vw, 12.37653vh);
  -ms-transform: translate(39.06741vw, 12.37653vh);
  transform: translate(39.06741vw, 12.37653vh);
  -webkit-animation-duration: 3.81114s;
  animation-duration: 3.81114s;
  -webkit-animation-delay: -3.38698s;
  animation-delay: -3.38698s;
}

bokeh:nth-child(16) {
  background-color: #ef8d22;
  -webkit-transform: translate(39.87993vw, 64.67493vh);
  -ms-transform: translate(39.87993vw, 64.67493vh);
  transform: translate(39.87993vw, 64.67493vh);
  -webkit-animation-duration: 3.52684s;
  animation-duration: 3.52684s;
  -webkit-animation-delay: -3.52889s;
  animation-delay: -3.52889s;
}

bokeh:nth-child(17) {
  background-color: #ef8d22;
  -webkit-transform: translate(49.38957vw, 75.53114vh);
  -ms-transform: translate(49.38957vw, 75.53114vh);
  transform: translate(49.38957vw, 75.53114vh);
  -webkit-animation-duration: 4.82831s;
  animation-duration: 4.82831s;
  -webkit-animation-delay: -1.89348s;
  animation-delay: -1.89348s;
}

bokeh:nth-child(18) {
  background-color: #ef8d22;
  -webkit-transform: translate(45.16492vw, 46.7041vh);
  -ms-transform: translate(45.16492vw, 46.7041vh);
  transform: translate(45.16492vw, 46.7041vh);
  -webkit-animation-duration: 4.43372s;
  animation-duration: 4.43372s;
  -webkit-animation-delay: -0.69537s;
  animation-delay: -0.69537s;
}

bokeh:nth-child(19) {
  background-color: #feff28;
  -webkit-transform: translate(7.49895vw, 3.058vh);
  -ms-transform: translate(7.49895vw, 3.058vh);
  transform: translate(7.49895vw, 3.058vh);
  -webkit-animation-duration: 2.66727s;
  animation-duration: 2.66727s;
  -webkit-animation-delay: -1.96359s;
  animation-delay: -1.96359s;
}

bokeh:nth-child(20) {
  background-color: #feff28;
  -webkit-transform: translate(37.39902vw, 77.79422vh);
  -ms-transform: translate(37.39902vw, 77.79422vh);
  transform: translate(37.39902vw, 77.79422vh);
  -webkit-animation-duration: 4.2796s;
  animation-duration: 4.2796s;
  -webkit-animation-delay: -4.76953s;
  animation-delay: -4.76953s;
}

bokeh:nth-child(21) {
  background-color: #ef8d22;
  -webkit-transform: translate(62.47594vw, 62.35748vh);
  -ms-transform: translate(62.47594vw, 62.35748vh);
  transform: translate(62.47594vw, 62.35748vh);
  -webkit-animation-duration: 3.78547s;
  animation-duration: 3.78547s;
  -webkit-animation-delay: -2.56672s;
  animation-delay: -2.56672s;
}

bokeh:nth-child(22) {
  background-color: #fc85e1;
  -webkit-transform: translate(96.63299vw, 56.97589vh);
  -ms-transform: translate(96.63299vw, 56.97589vh);
  transform: translate(96.63299vw, 56.97589vh);
  -webkit-animation-duration: 4.51842s;
  animation-duration: 4.51842s;
  -webkit-animation-delay: -0.61994s;
  animation-delay: -0.61994s;
}

bokeh:nth-child(23) {
  background-color: #2bd8ff;
  -webkit-transform: translate(2.12639vw, 80.24649vh);
  -ms-transform: translate(2.12639vw, 80.24649vh);
  transform: translate(2.12639vw, 80.24649vh);
  -webkit-animation-duration: 4.86636s;
  animation-duration: 4.86636s;
  -webkit-animation-delay: -1.71282s;
  animation-delay: -1.71282s;
}

bokeh:nth-child(24) {
  background-color: #ef8d22;
  -webkit-transform: translate(38.05617vw, 42.83612vh);
  -ms-transform: translate(38.05617vw, 42.83612vh);
  transform: translate(38.05617vw, 42.83612vh);
  -webkit-animation-duration: 3.89127s;
  animation-duration: 3.89127s;
  -webkit-animation-delay: -0.43933s;
  animation-delay: -0.43933s;
}

bokeh:nth-child(25) {
  background-color: #2bd8ff;
  -webkit-transform: translate(62.59445vw, 89.46589vh);
  -ms-transform: translate(62.59445vw, 89.46589vh);
  transform: translate(62.59445vw, 89.46589vh);
  -webkit-animation-duration: 4.95996s;
  animation-duration: 4.95996s;
  -webkit-animation-delay: -2.35559s;
  animation-delay: -2.35559s;
}

bokeh:nth-child(26) {
  background-color: #ef8d22;
  -webkit-transform: translate(55.92521vw, 40.88236vh);
  -ms-transform: translate(55.92521vw, 40.88236vh);
  transform: translate(55.92521vw, 40.88236vh);
  -webkit-animation-duration: 2.30198s;
  animation-duration: 2.30198s;
  -webkit-animation-delay: -1.74285s;
  animation-delay: -1.74285s;
}

bokeh:nth-child(27) {
  background-color: #fc85e1;
  -webkit-transform: translate(49.0473vw, 13.45847vh);
  -ms-transform: translate(49.0473vw, 13.45847vh);
  transform: translate(49.0473vw, 13.45847vh);
  -webkit-animation-duration: 3.71192s;
  animation-duration: 3.71192s;
  -webkit-animation-delay: -3.76099s;
  animation-delay: -3.76099s;
}

bokeh:nth-child(28) {
  background-color: #2bd8ff;
  -webkit-transform: translate(88.69862vw, 68.51023vh);
  -ms-transform: translate(88.69862vw, 68.51023vh);
  transform: translate(88.69862vw, 68.51023vh);
  -webkit-animation-duration: 3.68725s;
  animation-duration: 3.68725s;
  -webkit-animation-delay: -1.9841s;
  animation-delay: -1.9841s;
}

bokeh:nth-child(29) {
  background-color: #ef8d22;
  -webkit-transform: translate(15.06575vw, 90.26593vh);
  -ms-transform: translate(15.06575vw, 90.26593vh);
  transform: translate(15.06575vw, 90.26593vh);
  -webkit-animation-duration: 3.84671s;
  animation-duration: 3.84671s;
  -webkit-animation-delay: -1.6974s;
  animation-delay: -1.6974s;
}

bokeh:nth-child(30) {
  background-color: #fc85e1;
  -webkit-transform: translate(54.89063vw, 8.50766vh);
  -ms-transform: translate(54.89063vw, 8.50766vh);
  transform: translate(54.89063vw, 8.50766vh);
  -webkit-animation-duration: 3.25268s;
  animation-duration: 3.25268s;
  -webkit-animation-delay: -4.01079s;
  animation-delay: -4.01079s;
}

bokeh:nth-child(31) {
  background-color: #2bd8ff;
  -webkit-transform: translate(83.28247vw, 13.63241vh);
  -ms-transform: translate(83.28247vw, 13.63241vh);
  transform: translate(83.28247vw, 13.63241vh);
  -webkit-animation-duration: 3.87761s;
  animation-duration: 3.87761s;
  -webkit-animation-delay: -0.60309s;
  animation-delay: -0.60309s;
}

bokeh:nth-child(32) {
  background-color: #2bd8ff;
  -webkit-transform: translate(71.56913vw, 93.62581vh);
  -ms-transform: translate(71.56913vw, 93.62581vh);
  transform: translate(71.56913vw, 93.62581vh);
  -webkit-animation-duration: 4.09574s;
  animation-duration: 4.09574s;
  -webkit-animation-delay: -3.07363s;
  animation-delay: -3.07363s;
}

bokeh:nth-child(33) {
  background-color: #2bd8ff;
  -webkit-transform: translate(32.54357vw, 53.40685vh);
  -ms-transform: translate(32.54357vw, 53.40685vh);
  transform: translate(32.54357vw, 53.40685vh);
  -webkit-animation-duration: 3.40695s;
  animation-duration: 3.40695s;
  -webkit-animation-delay: -3.53629s;
  animation-delay: -3.53629s;
}

bokeh:nth-child(34) {
  background-color: #feff28;
  -webkit-transform: translate(95.82256vw, 18.09631vh);
  -ms-transform: translate(95.82256vw, 18.09631vh);
  transform: translate(95.82256vw, 18.09631vh);
  -webkit-animation-duration: 4.70707s;
  animation-duration: 4.70707s;
  -webkit-animation-delay: -2.35245s;
  animation-delay: -2.35245s;
}

bokeh:nth-child(35) {
  background-color: #ef8d22;
  -webkit-transform: translate(80.96019vw, 85.35471vh);
  -ms-transform: translate(80.96019vw, 85.35471vh);
  transform: translate(80.96019vw, 85.35471vh);
  -webkit-animation-duration: 3.3766s;
  animation-duration: 3.3766s;
  -webkit-animation-delay: -0.21933s;
  animation-delay: -0.21933s;
}

bokeh:nth-child(36) {
  background-color: #fc85e1;
  -webkit-transform: translate(9.01387vw, 80.18698vh);
  -ms-transform: translate(9.01387vw, 80.18698vh);
  transform: translate(9.01387vw, 80.18698vh);
  -webkit-animation-duration: 2.99039s;
  animation-duration: 2.99039s;
  -webkit-animation-delay: -1.47819s;
  animation-delay: -1.47819s;
}

bokeh:nth-child(37) {
  background-color: #fc85e1;
  -webkit-transform: translate(19.92709vw, 80.51173vh);
  -ms-transform: translate(19.92709vw, 80.51173vh);
  transform: translate(19.92709vw, 80.51173vh);
  -webkit-animation-duration: 4.17854s;
  animation-duration: 4.17854s;
  -webkit-animation-delay: -4.03529s;
  animation-delay: -4.03529s;
}

bokeh:nth-child(38) {
  background-color: #2bd8ff;
  -webkit-transform: translate(17.61501vw, 28.02569vh);
  -ms-transform: translate(17.61501vw, 28.02569vh);
  transform: translate(17.61501vw, 28.02569vh);
  -webkit-animation-duration: 2.16019s;
  animation-duration: 2.16019s;
  -webkit-animation-delay: -4.93085s;
  animation-delay: -4.93085s;
}

bokeh:nth-child(39) {
  background-color: #ef8d22;
  -webkit-transform: translate(96.53209vw, 77.25032vh);
  -ms-transform: translate(96.53209vw, 77.25032vh);
  transform: translate(96.53209vw, 77.25032vh);
  -webkit-animation-duration: 2.83499s;
  animation-duration: 2.83499s;
  -webkit-animation-delay: -2.08043s;
  animation-delay: -2.08043s;
}

bokeh:nth-child(40) {
  background-color: #feff28;
  -webkit-transform: translate(11.74149vw, 96.53741vh);
  -ms-transform: translate(11.74149vw, 96.53741vh);
  transform: translate(11.74149vw, 96.53741vh);
  -webkit-animation-duration: 4.6975s;
  animation-duration: 4.6975s;
  -webkit-animation-delay: -3.59549s;
  animation-delay: -3.59549s;
}

bokeh:nth-child(41) {
  background-color: #fc85e1;
  -webkit-transform: translate(37.88861vw, 84.63398vh);
  -ms-transform: translate(37.88861vw, 84.63398vh);
  transform: translate(37.88861vw, 84.63398vh);
  -webkit-animation-duration: 2.38401s;
  animation-duration: 2.38401s;
  -webkit-animation-delay: -3.01882s;
  animation-delay: -3.01882s;
}

bokeh:nth-child(42) {
  background-color: #fc85e1;
  -webkit-transform: translate(57.82842vw, 66.28794vh);
  -ms-transform: translate(57.82842vw, 66.28794vh);
  transform: translate(57.82842vw, 66.28794vh);
  -webkit-animation-duration: 3.75106s;
  animation-duration: 3.75106s;
  -webkit-animation-delay: -1.89864s;
  animation-delay: -1.89864s;
}

bokeh:nth-child(43) {
  background-color: #fc85e1;
  -webkit-transform: translate(68.79483vw, 35.81682vh);
  -ms-transform: translate(68.79483vw, 35.81682vh);
  transform: translate(68.79483vw, 35.81682vh);
  -webkit-animation-duration: 2.64495s;
  animation-duration: 2.64495s;
  -webkit-animation-delay: -2.83453s;
  animation-delay: -2.83453s;
}

bokeh:nth-child(44) {
  background-color: #ef8d22;
  -webkit-transform: translate(93.92072vw, 45.61864vh);
  -ms-transform: translate(93.92072vw, 45.61864vh);
  transform: translate(93.92072vw, 45.61864vh);
  -webkit-animation-duration: 2.58405s;
  animation-duration: 2.58405s;
  -webkit-animation-delay: -3.66943s;
  animation-delay: -3.66943s;
}

bokeh:nth-child(45) {
  background-color: #fc85e1;
  -webkit-transform: translate(2.29877vw, 88.85606vh);
  -ms-transform: translate(2.29877vw, 88.85606vh);
  transform: translate(2.29877vw, 88.85606vh);
  -webkit-animation-duration: 3.33872s;
  animation-duration: 3.33872s;
  -webkit-animation-delay: -0.93313s;
  animation-delay: -0.93313s;
}

bokeh:nth-child(46) {
  background-color: #fc85e1;
  -webkit-transform: translate(61.35917vw, 30.95286vh);
  -ms-transform: translate(61.35917vw, 30.95286vh);
  transform: translate(61.35917vw, 30.95286vh);
  -webkit-animation-duration: 4.39104s;
  animation-duration: 4.39104s;
  -webkit-animation-delay: -0.64447s;
  animation-delay: -0.64447s;
}

bokeh:nth-child(47) {
  background-color: #2bd8ff;
  -webkit-transform: translate(86.14374vw, 92.29792vh);
  -ms-transform: translate(86.14374vw, 92.29792vh);
  transform: translate(86.14374vw, 92.29792vh);
  -webkit-animation-duration: 4.8373s;
  animation-duration: 4.8373s;
  -webkit-animation-delay: -0.92091s;
  animation-delay: -0.92091s;
}

bokeh:nth-child(48) {
  background-color: #2bd8ff;
  -webkit-transform: translate(11.66157vw, 61.90349vh);
  -ms-transform: translate(11.66157vw, 61.90349vh);
  transform: translate(11.66157vw, 61.90349vh);
  -webkit-animation-duration: 2.20742s;
  animation-duration: 2.20742s;
  -webkit-animation-delay: -2.67106s;
  animation-delay: -2.67106s;
}

bokeh:nth-child(49) {
  background-color: #2bd8ff;
  -webkit-transform: translate(89.46903vw, 42.57835vh);
  -ms-transform: translate(89.46903vw, 42.57835vh);
  transform: translate(89.46903vw, 42.57835vh);
  -webkit-animation-duration: 3.5138s;
  animation-duration: 3.5138s;
  -webkit-animation-delay: -2.8075s;
  animation-delay: -2.8075s;
}

bokeh:nth-child(50) {
  background-color: #2bd8ff;
  -webkit-transform: translate(15.32421vw, 70.17081vh);
  -ms-transform: translate(15.32421vw, 70.17081vh);
  transform: translate(15.32421vw, 70.17081vh);
  -webkit-animation-duration: 2.96528s;
  animation-duration: 2.96528s;
  -webkit-animation-delay: -0.88037s;
  animation-delay: -0.88037s;
}

bokeh:nth-child(51) {
  background-color: #fc85e1;
  -webkit-transform: translate(96.08653vw, 94.64586vh);
  -ms-transform: translate(96.08653vw, 94.64586vh);
  transform: translate(96.08653vw, 94.64586vh);
  -webkit-animation-duration: 2.68238s;
  animation-duration: 2.68238s;
  -webkit-animation-delay: -2.59015s;
  animation-delay: -2.59015s;
}

bokeh:nth-child(52) {
  background-color: #2bd8ff;
  -webkit-transform: translate(80.3004vw, 50.88445vh);
  -ms-transform: translate(80.3004vw, 50.88445vh);
  transform: translate(80.3004vw, 50.88445vh);
  -webkit-animation-duration: 4.35897s;
  animation-duration: 4.35897s;
  -webkit-animation-delay: -4.34328s;
  animation-delay: -4.34328s;
}

bokeh:nth-child(53) {
  background-color: #2bd8ff;
  -webkit-transform: translate(98.52892vw, 86.76645vh);
  -ms-transform: translate(98.52892vw, 86.76645vh);
  transform: translate(98.52892vw, 86.76645vh);
  -webkit-animation-duration: 2.50946s;
  animation-duration: 2.50946s;
  -webkit-animation-delay: -2.08505s;
  animation-delay: -2.08505s;
}

bokeh:nth-child(54) {
  background-color: #fc85e1;
  -webkit-transform: translate(99.53602vw, 32.5229vh);
  -ms-transform: translate(99.53602vw, 32.5229vh);
  transform: translate(99.53602vw, 32.5229vh);
  -webkit-animation-duration: 3.17876s;
  animation-duration: 3.17876s;
  -webkit-animation-delay: -0.07063s;
  animation-delay: -0.07063s;
}

bokeh:nth-child(55) {
  background-color: #fc85e1;
  -webkit-transform: translate(15.17285vw, 87.1136vh);
  -ms-transform: translate(15.17285vw, 87.1136vh);
  transform: translate(15.17285vw, 87.1136vh);
  -webkit-animation-duration: 4.05437s;
  animation-duration: 4.05437s;
  -webkit-animation-delay: -4.0672s;
  animation-delay: -4.0672s;
}

bokeh:nth-child(56) {
  background-color: #ef8d22;
  -webkit-transform: translate(73.88192vw, 19.26845vh);
  -ms-transform: translate(73.88192vw, 19.26845vh);
  transform: translate(73.88192vw, 19.26845vh);
  -webkit-animation-duration: 3.81672s;
  animation-duration: 3.81672s;
  -webkit-animation-delay: -4.29802s;
  animation-delay: -4.29802s;
}

bokeh:nth-child(57) {
  background-color: #fc85e1;
  -webkit-transform: translate(32.95849vw, 16.50317vh);
  -ms-transform: translate(32.95849vw, 16.50317vh);
  transform: translate(32.95849vw, 16.50317vh);
  -webkit-animation-duration: 2.55213s;
  animation-duration: 2.55213s;
  -webkit-animation-delay: -3.47319s;
  animation-delay: -3.47319s;
}

bokeh:nth-child(58) {
  background-color: #fc85e1;
  -webkit-transform: translate(74.74302vw, 11.99159vh);
  -ms-transform: translate(74.74302vw, 11.99159vh);
  transform: translate(74.74302vw, 11.99159vh);
  -webkit-animation-duration: 3.83767s;
  animation-duration: 3.83767s;
  -webkit-animation-delay: -4.47481s;
  animation-delay: -4.47481s;
}

bokeh:nth-child(59) {
  background-color: #2bd8ff;
  -webkit-transform: translate(50.62537vw, 35.90599vh);
  -ms-transform: translate(50.62537vw, 35.90599vh);
  transform: translate(50.62537vw, 35.90599vh);
  -webkit-animation-duration: 3.10163s;
  animation-duration: 3.10163s;
  -webkit-animation-delay: -3.75982s;
  animation-delay: -3.75982s;
}

bokeh:nth-child(60) {
  background-color: #ef8d22;
  -webkit-transform: translate(80.31799vw, 3.37996vh);
  -ms-transform: translate(80.31799vw, 3.37996vh);
  transform: translate(80.31799vw, 3.37996vh);
  -webkit-animation-duration: 3.12742s;
  animation-duration: 3.12742s;
  -webkit-animation-delay: -0.08802s;
  animation-delay: -0.08802s;
}

bokeh:nth-child(61) {
  background-color: #feff28;
  -webkit-transform: translate(2.43537vw, 54.95271vh);
  -ms-transform: translate(2.43537vw, 54.95271vh);
  transform: translate(2.43537vw, 54.95271vh);
  -webkit-animation-duration: 2.53353s;
  animation-duration: 2.53353s;
  -webkit-animation-delay: -1.76739s;
  animation-delay: -1.76739s;
}

bokeh:nth-child(62) {
  background-color: #fc85e1;
  -webkit-transform: translate(76.21283vw, 77.69454vh);
  -ms-transform: translate(76.21283vw, 77.69454vh);
  transform: translate(76.21283vw, 77.69454vh);
  -webkit-animation-duration: 4.54672s;
  animation-duration: 4.54672s;
  -webkit-animation-delay: -3.53234s;
  animation-delay: -3.53234s;
}

bokeh:nth-child(63) {
  background-color: #ef8d22;
  -webkit-transform: translate(62.66713vw, 47.10413vh);
  -ms-transform: translate(62.66713vw, 47.10413vh);
  transform: translate(62.66713vw, 47.10413vh);
  -webkit-animation-duration: 2.0744s;
  animation-duration: 2.0744s;
  -webkit-animation-delay: -2.67787s;
  animation-delay: -2.67787s;
}

bokeh:nth-child(64) {
  background-color: #feff28;
  -webkit-transform: translate(39.83318vw, 53.96793vh);
  -ms-transform: translate(39.83318vw, 53.96793vh);
  transform: translate(39.83318vw, 53.96793vh);
  -webkit-animation-duration: 2.02879s;
  animation-duration: 2.02879s;
  -webkit-animation-delay: -3.45912s;
  animation-delay: -3.45912s;
}

bokeh:nth-child(65) {
  background-color: #feff28;
  -webkit-transform: translate(1.57704vw, 34.77945vh);
  -ms-transform: translate(1.57704vw, 34.77945vh);
  transform: translate(1.57704vw, 34.77945vh);
  -webkit-animation-duration: 2.29817s;
  animation-duration: 2.29817s;
  -webkit-animation-delay: -2.8316s;
  animation-delay: -2.8316s;
}

bokeh:nth-child(66) {
  background-color: #2bd8ff;
  -webkit-transform: translate(32.95612vw, 90.61129vh);
  -ms-transform: translate(32.95612vw, 90.61129vh);
  transform: translate(32.95612vw, 90.61129vh);
  -webkit-animation-duration: 2.93022s;
  animation-duration: 2.93022s;
  -webkit-animation-delay: -3.23156s;
  animation-delay: -3.23156s;
}

bokeh:nth-child(67) {
  background-color: #fc85e1;
  -webkit-transform: translate(97.26883vw, 70.14822vh);
  -ms-transform: translate(97.26883vw, 70.14822vh);
  transform: translate(97.26883vw, 70.14822vh);
  -webkit-animation-duration: 2.14258s;
  animation-duration: 2.14258s;
  -webkit-animation-delay: -4.21193s;
  animation-delay: -4.21193s;
}

bokeh:nth-child(68) {
  background-color: #feff28;
  -webkit-transform: translate(2.83847vw, 17.49796vh);
  -ms-transform: translate(2.83847vw, 17.49796vh);
  transform: translate(2.83847vw, 17.49796vh);
  -webkit-animation-duration: 2.52192s;
  animation-duration: 2.52192s;
  -webkit-animation-delay: -0.99156s;
  animation-delay: -0.99156s;
}

bokeh:nth-child(69) {
  background-color: #ef8d22;
  -webkit-transform: translate(17.4116vw, 71.73488vh);
  -ms-transform: translate(17.4116vw, 71.73488vh);
  transform: translate(17.4116vw, 71.73488vh);
  -webkit-animation-duration: 3.965s;
  animation-duration: 3.965s;
  -webkit-animation-delay: -1.90298s;
  animation-delay: -1.90298s;
}

bokeh:nth-child(70) {
  background-color: #2bd8ff;
  -webkit-transform: translate(21.13151vw, 67.21947vh);
  -ms-transform: translate(21.13151vw, 67.21947vh);
  transform: translate(21.13151vw, 67.21947vh);
  -webkit-animation-duration: 4.59818s;
  animation-duration: 4.59818s;
  -webkit-animation-delay: -4.91429s;
  animation-delay: -4.91429s;
}

bokeh:nth-child(71) {
  background-color: #ef8d22;
  -webkit-transform: translate(77.81724vw, 32.83006vh);
  -ms-transform: translate(77.81724vw, 32.83006vh);
  transform: translate(77.81724vw, 32.83006vh);
  -webkit-animation-duration: 3.61359s;
  animation-duration: 3.61359s;
  -webkit-animation-delay: -3.47355s;
  animation-delay: -3.47355s;
}

bokeh:nth-child(72) {
  background-color: #feff28;
  -webkit-transform: translate(0.59388vw, 72.01539vh);
  -ms-transform: translate(0.59388vw, 72.01539vh);
  transform: translate(0.59388vw, 72.01539vh);
  -webkit-animation-duration: 4.35532s;
  animation-duration: 4.35532s;
  -webkit-animation-delay: -2.54383s;
  animation-delay: -2.54383s;
}

bokeh:nth-child(73) {
  background-color: #feff28;
  -webkit-transform: translate(89.44221vw, 77.96409vh);
  -ms-transform: translate(89.44221vw, 77.96409vh);
  transform: translate(89.44221vw, 77.96409vh);
  -webkit-animation-duration: 2.57434s;
  animation-duration: 2.57434s;
  -webkit-animation-delay: -4.56173s;
  animation-delay: -4.56173s;
}

bokeh:nth-child(74) {
  background-color: #fc85e1;
  -webkit-transform: translate(36.24846vw, 86.75265vh);
  -ms-transform: translate(36.24846vw, 86.75265vh);
  transform: translate(36.24846vw, 86.75265vh);
  -webkit-animation-duration: 4.60549s;
  animation-duration: 4.60549s;
  -webkit-animation-delay: -3.33459s;
  animation-delay: -3.33459s;
}

bokeh:nth-child(75) {
  background-color: #2bd8ff;
  -webkit-transform: translate(5.5739vw, 75.59375vh);
  -ms-transform: translate(5.5739vw, 75.59375vh);
  transform: translate(5.5739vw, 75.59375vh);
  -webkit-animation-duration: 4.89957s;
  animation-duration: 4.89957s;
  -webkit-animation-delay: -0.87641s;
  animation-delay: -0.87641s;
}

bokeh:nth-child(76) {
  background-color: #ef8d22;
  -webkit-transform: translate(36.97114vw, 89.86873vh);
  -ms-transform: translate(36.97114vw, 89.86873vh);
  transform: translate(36.97114vw, 89.86873vh);
  -webkit-animation-duration: 2.4204s;
  animation-duration: 2.4204s;
  -webkit-animation-delay: -4.88227s;
  animation-delay: -4.88227s;
}

bokeh:nth-child(77) {
  background-color: #fc85e1;
  -webkit-transform: translate(60.69616vw, 10.18892vh);
  -ms-transform: translate(60.69616vw, 10.18892vh);
  transform: translate(60.69616vw, 10.18892vh);
  -webkit-animation-duration: 4.94352s;
  animation-duration: 4.94352s;
  -webkit-animation-delay: -4.44095s;
  animation-delay: -4.44095s;
}

bokeh:nth-child(78) {
  background-color: #ef8d22;
  -webkit-transform: translate(40.82764vw, 97.7946vh);
  -ms-transform: translate(40.82764vw, 97.7946vh);
  transform: translate(40.82764vw, 97.7946vh);
  -webkit-animation-duration: 3.44749s;
  animation-duration: 3.44749s;
  -webkit-animation-delay: -0.48377s;
  animation-delay: -0.48377s;
}

bokeh:nth-child(79) {
  background-color: #feff28;
  -webkit-transform: translate(39.00608vw, 36.38261vh);
  -ms-transform: translate(39.00608vw, 36.38261vh);
  transform: translate(39.00608vw, 36.38261vh);
  -webkit-animation-duration: 4.29659s;
  animation-duration: 4.29659s;
  -webkit-animation-delay: -3.12511s;
  animation-delay: -3.12511s;
}

bokeh:nth-child(80) {
  background-color: #ef8d22;
  -webkit-transform: translate(8.78802vw, 0.67883vh);
  -ms-transform: translate(8.78802vw, 0.67883vh);
  transform: translate(8.78802vw, 0.67883vh);
  -webkit-animation-duration: 2.57405s;
  animation-duration: 2.57405s;
  -webkit-animation-delay: -3.3211s;
  animation-delay: -3.3211s;
}

bokeh:nth-child(81) {
  background-color: #fc85e1;
  -webkit-transform: translate(55.03256vw, 91.31445vh);
  -ms-transform: translate(55.03256vw, 91.31445vh);
  transform: translate(55.03256vw, 91.31445vh);
  -webkit-animation-duration: 4.04717s;
  animation-duration: 4.04717s;
  -webkit-animation-delay: -0.58679s;
  animation-delay: -0.58679s;
}

bokeh:nth-child(82) {
  background-color: #fc85e1;
  -webkit-transform: translate(6.89426vw, 45.75157vh);
  -ms-transform: translate(6.89426vw, 45.75157vh);
  transform: translate(6.89426vw, 45.75157vh);
  -webkit-animation-duration: 4.9434s;
  animation-duration: 4.9434s;
  -webkit-animation-delay: -1.37989s;
  animation-delay: -1.37989s;
}

bokeh:nth-child(83) {
  background-color: #ef8d22;
  -webkit-transform: translate(19.3645vw, 92.19778vh);
  -ms-transform: translate(19.3645vw, 92.19778vh);
  transform: translate(19.3645vw, 92.19778vh);
  -webkit-animation-duration: 4.94688s;
  animation-duration: 4.94688s;
  -webkit-animation-delay: -1.27323s;
  animation-delay: -1.27323s;
}

bokeh:nth-child(84) {
  background-color: #ef8d22;
  -webkit-transform: translate(97.49098vw, 37.70209vh);
  -ms-transform: translate(97.49098vw, 37.70209vh);
  transform: translate(97.49098vw, 37.70209vh);
  -webkit-animation-duration: 3.19836s;
  animation-duration: 3.19836s;
  -webkit-animation-delay: -1.25239s;
  animation-delay: -1.25239s;
}

bokeh:nth-child(85) {
  background-color: #ef8d22;
  -webkit-transform: translate(54.9854vw, 18.02952vh);
  -ms-transform: translate(54.9854vw, 18.02952vh);
  transform: translate(54.9854vw, 18.02952vh);
  -webkit-animation-duration: 3.68043s;
  animation-duration: 3.68043s;
  -webkit-animation-delay: -1.01419s;
  animation-delay: -1.01419s;
}

bokeh:nth-child(86) {
  background-color: #fc85e1;
  -webkit-transform: translate(38.11881vw, 12.95638vh);
  -ms-transform: translate(38.11881vw, 12.95638vh);
  transform: translate(38.11881vw, 12.95638vh);
  -webkit-animation-duration: 4.14754s;
  animation-duration: 4.14754s;
  -webkit-animation-delay: -1.18217s;
  animation-delay: -1.18217s;
}

bokeh:nth-child(87) {
  background-color: #feff28;
  -webkit-transform: translate(27.66479vw, 65.46986vh);
  -ms-transform: translate(27.66479vw, 65.46986vh);
  transform: translate(27.66479vw, 65.46986vh);
  -webkit-animation-duration: 3.65912s;
  animation-duration: 3.65912s;
  -webkit-animation-delay: -3.45666s;
  animation-delay: -3.45666s;
}

bokeh:nth-child(88) {
  background-color: #ef8d22;
  -webkit-transform: translate(8.78153vw, 12.43292vh);
  -ms-transform: translate(8.78153vw, 12.43292vh);
  transform: translate(8.78153vw, 12.43292vh);
  -webkit-animation-duration: 2.53297s;
  animation-duration: 2.53297s;
  -webkit-animation-delay: -0.38889s;
  animation-delay: -0.38889s;
}

bokeh:nth-child(89) {
  background-color: #ef8d22;
  -webkit-transform: translate(32.05749vw, 36.33199vh);
  -ms-transform: translate(32.05749vw, 36.33199vh);
  transform: translate(32.05749vw, 36.33199vh);
  -webkit-animation-duration: 3.62575s;
  animation-duration: 3.62575s;
  -webkit-animation-delay: -2.82062s;
  animation-delay: -2.82062s;
}

bokeh:nth-child(90) {
  background-color: #2bd8ff;
  -webkit-transform: translate(97.53253vw, 27.89526vh);
  -ms-transform: translate(97.53253vw, 27.89526vh);
  transform: translate(97.53253vw, 27.89526vh);
  -webkit-animation-duration: 2.68492s;
  animation-duration: 2.68492s;
  -webkit-animation-delay: -3.06263s;
  animation-delay: -3.06263s;
}

bokeh:nth-child(91) {
  background-color: #2bd8ff;
  -webkit-transform: translate(91.60691vw, 32.4894vh);
  -ms-transform: translate(91.60691vw, 32.4894vh);
  transform: translate(91.60691vw, 32.4894vh);
  -webkit-animation-duration: 4.54052s;
  animation-duration: 4.54052s;
  -webkit-animation-delay: -2.14479s;
  animation-delay: -2.14479s;
}

bokeh:nth-child(92) {
  background-color: #feff28;
  -webkit-transform: translate(14.02112vw, 85.37464vh);
  -ms-transform: translate(14.02112vw, 85.37464vh);
  transform: translate(14.02112vw, 85.37464vh);
  -webkit-animation-duration: 3.90344s;
  animation-duration: 3.90344s;
  -webkit-animation-delay: -2.46417s;
  animation-delay: -2.46417s;
}

bokeh:nth-child(93) {
  background-color: #fc85e1;
  -webkit-transform: translate(32.33719vw, 65.15769vh);
  -ms-transform: translate(32.33719vw, 65.15769vh);
  transform: translate(32.33719vw, 65.15769vh);
  -webkit-animation-duration: 3.8641s;
  animation-duration: 3.8641s;
  -webkit-animation-delay: -2.74592s;
  animation-delay: -2.74592s;
}

bokeh:nth-child(94) {
  background-color: #2bd8ff;
  -webkit-transform: translate(47.35082vw, 1.09963vh);
  -ms-transform: translate(47.35082vw, 1.09963vh);
  transform: translate(47.35082vw, 1.09963vh);
  -webkit-animation-duration: 4.35189s;
  animation-duration: 4.35189s;
  -webkit-animation-delay: -2.18605s;
  animation-delay: -2.18605s;
}

bokeh:nth-child(95) {
  background-color: #fc85e1;
  -webkit-transform: translate(17.7265vw, 12.79535vh);
  -ms-transform: translate(17.7265vw, 12.79535vh);
  transform: translate(17.7265vw, 12.79535vh);
  -webkit-animation-duration: 3.44013s;
  animation-duration: 3.44013s;
  -webkit-animation-delay: -2.47048s;
  animation-delay: -2.47048s;
}

bokeh:nth-child(96) {
  background-color: #2bd8ff;
  -webkit-transform: translate(41.56744vw, 28.5892vh);
  -ms-transform: translate(41.56744vw, 28.5892vh);
  transform: translate(41.56744vw, 28.5892vh);
  -webkit-animation-duration: 2.59093s;
  animation-duration: 2.59093s;
  -webkit-animation-delay: -1.75996s;
  animation-delay: -1.75996s;
}

bokeh:nth-child(97) {
  background-color: #feff28;
  -webkit-transform: translate(83.57143vw, 47.65618vh);
  -ms-transform: translate(83.57143vw, 47.65618vh);
  transform: translate(83.57143vw, 47.65618vh);
  -webkit-animation-duration: 4.93242s;
  animation-duration: 4.93242s;
  -webkit-animation-delay: -3.22436s;
  animation-delay: -3.22436s;
}

bokeh:nth-child(98) {
  background-color: #fc85e1;
  -webkit-transform: translate(64.80176vw, 84.69809vh);
  -ms-transform: translate(64.80176vw, 84.69809vh);
  transform: translate(64.80176vw, 84.69809vh);
  -webkit-animation-duration: 4.88921s;
  animation-duration: 4.88921s;
  -webkit-animation-delay: -4.76894s;
  animation-delay: -4.76894s;
}

bokeh:nth-child(99) {
  background-color: #fc85e1;
  -webkit-transform: translate(34.05318vw, 42.01808vh);
  -ms-transform: translate(34.05318vw, 42.01808vh);
  transform: translate(34.05318vw, 42.01808vh);
  -webkit-animation-duration: 2.77333s;
  animation-duration: 2.77333s;
  -webkit-animation-delay: -4.39606s;
  animation-delay: -4.39606s;
}

bokeh:nth-child(100) {
  background-color: #fc85e1;
  -webkit-transform: translate(57.70558vw, 87.74717vh);
  -ms-transform: translate(57.70558vw, 87.74717vh);
  transform: translate(57.70558vw, 87.74717vh);
  -webkit-animation-duration: 3.08099s;
  animation-duration: 3.08099s;
  -webkit-animation-delay: -4.08565s;
  animation-delay: -4.08565s;
}

@-webkit-keyframes explosion {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50vw, 100vh);
    transform: translate(50vw, 100vh);
  }
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50vw, 100vh);
    transform: translate(50vw, 100vh);
  }
}

/* section-letter */
section[class*="section-letter-"] {
  background: left top repeat;
}

section[class*="section-letter-"] article.box-letter {
  width: 100%;
  padding: 64px;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

section[class*="section-letter-"] article.box-letter:before {
  content: '';
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  background-color: rgba(255, 255, 255, 0.6);
  border: 16px solid #fff;
  -webkit-box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.6), 15px 0 15px -15px rgba(0, 0, 0, 0.6);
  box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.6), 15px 0 15px -15px rgba(0, 0, 0, 0.6);
  position: absolute;
  left: -24px;
  top: -24px;
  z-index: -1;
}

section[class*="section-letter-"] article.box-letter p.text {
  font-family: 'letterFont';
  font-size: 24px;
}

section[class*="section-letter-"] article.box-letter .tag-form {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -36px;
}

section[class*="section-letter-"] article.box-letter .tag-form > span {
  min-width: 160px;
  height: 48px;
  display: inline-block;
  padding: 0 16px;
  background-color: #000;
  border-radius: 48px;
  font-family: 'letterFont';
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 48px;
  text-transform: uppercase;
}

